<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./telas/headers") %>
    <title> Sign </title>
</head>
<body>

    <div class='pre-loader'></div>

    <div class="nav">
        <div class="nav-central">
            <div class="nav-grid">
    
                <div class="logo-nav centralizar">
                    <img src="./img/logo.png" alt="">
                </div>
    
                <div class="nav-opc centralizar">
                    <button id="voltar"> Voltar </button>
                </div>
                
            </div>
        </div>
    </div>

    <div class="container wow animated fadeInUp">
        <div class="container-central login">
            
            <div class="login-img">
                <img src="./img/icon/sign.png" alt="">
                <h1> Fazer Login </h1>
                <p>Não compartilhe seus Dados</p>
            </div>

            <div class="login-conteudo">
                
                <h3>Logar-Se</h3>
                <a>Realize sua Authenticação</a>

                <input id="usuario" type="text" class="form-control" placeholder="Usuario" aria-describedby="basic-addon2">
                <input id="senha" type="password" class="form-control" placeholder="Senha" aria-describedby="basic-addon2">
                
                <div class="btns">
                    <button id="entrar"> Entrar </button>
                    <a id="cadastrar"> Cadastrar </a>
                </div>

            </div>

        </div>
    </div>
    
    
<%- include("./telas/footer") %>
</body>
</html>